body {
  align-items: center;
  background-color: #e8ecee;
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  width: 100%;
}

.App {
  border: 2px solid purple;
  border-radius: 5px;
  width: 400px;
}

.hero-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-icon {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.chart {
  display: flex;
}

.chart img {
  z-index: 1;
}

.chart-header {
  background-color: wheat;
  width: 70%;
  z-index: 2;
  margin-left: -80px;
}

.coin-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.each-coin {
  border: 1px solid black;
  padding: 2%;
  width: auto;
}

.each-detail {
  display: flex;
  justify-content: space-between;
}
